* {
    margin-left: 5px
    padding:0px
  }
  div {
    display: inline-block;
  }
  p {margin-top:15px}
  #contenido {
    position: absolute;
    left: 0;
    width:60%;
    height:100vh;
  }
  #perfil {
    position: absolute;
    right: 0;
    width:40%;
    height:100vh;
    text-align: center;
  }
  ul {
    margin-left:10px;
    list-style-position:inside;
  }
  #perfil ul {
    list-style-type: None;
  }
  li {
    margin-top: 5px;
    color: #333;
  }
  img {width: 70%}
  #img {text-aling-center}
